body {
    background-color: rgb(7, 173, 118);
    /* background-color: rgb(255, 255, 255); */
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    color: #06425C;
}

th {
    color: #06425C;
}

.cal caption {
    text-transform: uppercase;
    background-color: rgba(128, 128, 128, 0.575);
    color: #000;
    font-size: 150%;
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
    padding-top: 10px;
}

table.cal {
    color: #06425C;
    border-spacing: 0;
    border: 3px solid black;
    border-radius: 0 0 25px 25px;
    width: 100%;
    height: 50vh;
    z-index: 2;
}

a {
    text-decoration: none;
    font-size: 1.5em;
    color: rgb(37, 37, 134);
}

th {
    width: 10%;
    background-color: rgb(101, 145, 184);
    font-size: 1.4em;
}

td {
    width: 14%;
}

.lunch {
    width: 5%;
}

thead {
    background-color: rgb(101, 145, 184);
}

tr:last-child {
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 0 0 25px 25px;
}

tr:last-child>th:first-child {
    -webkit-border-radius: 0 0 0 25px;
    border-radius: 0 0 0 25px;
}

tr:last-child>td:last-child {
    -webkit-border-radius: 0 0 25px 0;
    border-radius: 0 0 25px 0;
}

.lab {
    background-color: rgba(240, 128, 128, 0.76);
}

.tutorial {
    background-color: rgb(198, 255, 105);
}

#break {
    background-color: rgb(101, 145, 184);
}

.footer {
    z-index: 1;
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}

#name {
    color: #fff;
    font-size: 1em;
}
#txt0{
    font-size: 1.3em;
}
#txt{
    font-size: 1.2em;
}
#des{
    font-size: 1.3em;
}
#desb{
    font-weight: bold;
    font-style: italic;
    background-color: #FF1493;
}